*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

header{
  background-image: url(img/mv.jpg);
  height: 400px;
  background-position: bottom;
  background-size: cover;
}

.header-text{
  padding: 20px;
}

main{
  width: 840px;
  display: block;
  margin: 50px auto;
}

.webcamp{
  padding-bottom: 30px;
  border-bottom: 1px solid;
}

.webcamp-pro{
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid;
}

.webcamp-woman{
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid;
}

.webcamp-career{
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid;
}